<!DOCTYPE html>
<html>
  <head>
    <title>BS_Themepage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/帖子/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
     <div id="themepage" class="">

      <!-- Unnamed (矩形) -->
      <div id="u77" class="ax_default box_1">
        <img id="u77_img" class="img " src="images/帖子/u77.svg"/>
        <div id="u77_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u78" class="ax_default _一级标题">
        <div id="u78_div" class=""></div>
        <div id="u78_text" class="text ">
          <p><span>{{theme}}</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u79" class="ax_default" data-left="104" data-top="187" data-width="1028" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u80" class="ax_default" data-left="104" data-top="187" data-width="1028" data-height="170">

          <!-- Unnamed (组合) -->
          <div id="u81" class="ax_default" data-left="104" data-top="187" data-width="1028" data-height="170">

            <!-- Unnamed (矩形) -->
            <div id="u82" class="ax_default box_1">
              <img id="u82_img" class="img " src="images/帖子/u82.svg"/>
              <div id="u82_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (图片 ) -->
          <div id="u83" class="ax_default image">
            <img id="u83_img" class="img " src="images/帖子/u83.svg"/>
            <div id="u83_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u84" class="ax_default _文本段落">
            <div id="u84_div" class=""></div>
            <div id="u84_text" class="text ">
              <p><span>{{}}</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u85" class="ax_default label">
            <div id="u85_div" class=""></div>
            <div id="u85_text" class="text ">
              <p><span>Name</span></p>
            </div>
          </div>
        </div>

        <!-- 点赞 (动态面板) -->
        <div id="u86" class="ax_default" data-label="点赞">
          <div id="u86_state0" class="panel_state" data-label="点赞后" style="">
            <div id="u86_state0_content" class="panel_state_content">

              <!-- Unnamed (形状) -->
              <div id="u87" class="ax_default icon">
                <img id="u87_img" class="img " src="images/帖子/u87.svg"/>
                <div id="u87_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u88" class="ax_default line">
        <img id="u88_img" class="img " src="images/帖子/u88.svg"/>
        <div id="u88_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u89" class="ax_default" data-left="104" data-top="1096" data-width="1028" data-height="170">

        <!-- 发言框 (矩形) -->
        <div id="u90" class="ax_default box_1" data-label="发言框">
          <img id="u90_img" class="img " src="images/帖子/发言框_u90.svg"/>
          <div id="u90_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- 插入 (组合) -->
        <div id="u91" class="ax_default" data-label="插入" data-left="120" data-top="1112" data-width="966" data-height="19">

          <!-- Unnamed (形状) -->
          <div id="u92" class="ax_default icon">
            <img id="u92_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u92_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u93" class="ax_default icon">
            <img id="u93_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u93_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u94" class="ax_default icon">
            <img id="u94_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u94_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u95" class="ax_default icon">
            <img id="u95_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u95_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u96" class="ax_default icon">
            <img id="u96_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u96_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u97" class="ax_default icon">
            <img id="u97_img" class="img " src="images/帖子/u92.svg"/>
            <div id="u97_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (文本域) -->
        <div id="u98" class="ax_default text_area">
          <img id="u98_img" class="img " src="images/帖子/u98.svg"/>
          <textarea id="u98_input" class="u98_input"></textarea>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u99" class="ax_default" data-left="960" data-top="141" data-width="154" data-height="23">

        <!-- Unnamed (形状) -->
        <div id="u100" class="ax_default icon">
          <img id="u100_img" class="img " src="images/广场/u49.svg"/>
          <div id="u100_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u101" class="ax_default label">
          <div id="u101_div" class=""></div>
          <div id="u101_text" class="text ">
            <p><span>Name_of_Manager</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u102" class="ax_default" data-left="104" data-top="98" data-width="828" data-height="63">

        <!-- Unnamed (矩形) -->
        <div id="u103" class="ax_default _文本段落">
          <div id="u103_div" class=""></div>
          <div id="u103_text" class="text ">
            <p><span>{{}}</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u104" class="ax_default primary_button">
        <button @click="addcomment">Send</button>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
      axios.defaults.baseURL = 'http://localhost:8080/';
      axios.interceptors.response.use(function(res){
        return res.data;
      }, function(error){
        console.log(error)
      });
      var vm=new Vue({
        el:'#potpage',
        data:{
          user:[{token:'',username:'',}],
        },
        methods:{
          queryData:async function(){

          },
          addcomment:function(){

          },
        },
        mounted:function(){
          this.queryData();
        }
      })
    </script>
  </body>
</html>
