<!DOCTYPE html>
<html>
  <head>
    <title>广场</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广场/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <div id="square" class="">
      <!-- Unnamed (矩形) -->
      <div id="u37" class="ax_default box_1">
        <div id="u37_div" class=""></div>
        <div id="u37_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 功能模块 (矩形) -->
      <div id="u38" class="ax_default _二级标题" data-label="功能模块">
        <div id="u38_div" class=""></div>
        <div id="u38_text" class="text ">
          <p><span>BrainStorming</span></p>
        </div>
      </div>

      <!-- 功能模块 (矩形) -->
      <div id="u39" class="ax_default _二级标题" data-label="功能模块">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>Round Table Conference</span></p>
        </div>
      </div>

      <!-- 功能模块 (矩形) -->
      <div id="u40" class="ax_default _二级标题" data-label="功能模块">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
          <p><span>&quot;Yes and&quot;</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u41" class="ax_default _线段">
        <img id="u41_img" class="img " src="images/广场/u41.svg"/>
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u42" class="ax_default _线段">
        <img id="u42_img" class="img " src="images/广场/u41.svg"/>
        <div id="u42_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u43" class="ax_default text_field">
        <div id="u43_div" class=""></div>
        <input id="u43_input" type="text" value="" class="u43_input"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u44" class="ax_default icon">
        <img id="u44_img" class="img " src="images/广场/u44.svg"/>
        <div id="u44_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 主题1 (矩形) -->
      <div id="u45" class="ax_default _三级标题" data-label="主题1">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>#Topic1</span></p>
        </div>
      </div>

      <!-- 主题2 (矩形) -->
      <div id="u46" class="ax_default _三级标题" data-label="主题2">
        <div id="u46_div" class=""></div>
        <div id="u46_text" class="text ">
          <p><span>#Topic2</span></p>
        </div>
      </div>

      <!-- 主题3 (矩形) -->
      <div id="u47" class="ax_default _三级标题" data-label="主题3">
        <div id="u47_div" class=""></div>
        <div id="u47_text" class="text ">
          <p><span>#Topic3</span></p>
        </div>
      </div>

      <!-- 帖子 (组合) -->
      <div :key="item.topicid" v-for="item in topicList">
        <div id="u48" class="ax_default" data-label="帖子" data-left="135" data-top="247" data-width="657" data-height="170">

          <!-- Unnamed (组合) -->
          <div id="u49" class="ax_default" data-left="135" data-top="247" data-width="657" data-height="170">

            <!-- Unnamed (组合) -->
            <div id="u50" class="ax_default" data-left="135" data-top="247" data-width="657" data-height="170">

              <!-- Unnamed (矩形) -->
              <div id="u51" class="ax_default box_1">
                <div id="u51_div" class=""></div>
                <div id="u51_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u52" class="ax_default _二级标题">
                <div id="u52_div" class=""></div>
                <div id="u52_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u53" class="ax_default _二级标题">
                <div id="u53_div" class=""></div>
                <div id="u53_text" class="text">
                  <p><span>{{item.context}}</span></p>
                </div>
              </div>

              <!-- Unnamed (图片 ) -->
              <div id="u54" class="ax_default image">
                <img id="u54_img" class="img " src="images/广场/u54.svg"/>
                <div id="u54_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u55" class="ax_default icon">
                <img id="u55_img" class="img " src="images/广场/u55.svg"/>
                <div id="u55_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u56" class="ax_default label">
                <div id="u56_div" class=""></div>
                <div id="u56_text" class="text ">
                  <p><span>2,808 Reply</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u57" class="ax_default _文本段落">
                <div id="u57_div" class=""></div>
                <div id="u57_text" class="text ">
                  <p><span>{{item.description}}</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u58" class="ax_default" data-left="494" data-top="371" data-width="154" data-height="23">

                <!-- Unnamed (形状) -->
                <div id="u59" class="ax_default icon">
                  <img id="u59_img" class="img " src="images/广场/u59.svg"/>
                  <div id="u59_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u60" class="ax_default label">
                  <div id="u60_div" class=""></div>
                  <div id="u60_text" class="text ">
                    <p><span>Name_of_Manager</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u61" class="ax_default icon">
              <img id="u61_img" class="img " src="images/广场/u61.svg"/>
              <div id="u61_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u62" class="ax_default label">
              <div id="u62_div" class=""></div>
              <div id="u62_text" class="text ">
                <p><span>3500</span></p>
              </div>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u63" class="ax_default label">
            <div id="u63_div" class=""></div>
            <div id="u63_text" class="text ">
              <p><span>{{item.date | format('MM-dd hh:mm')}}</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u64" class="ax_default label">
            <div id="u64_div" class=""></div>
            <div id="u64_text" class="text ">
              <p><span>{{item.tag}}</span></p>
            </div>
          </div>
        </div>
      </div>
      <!-- Unnamed (形状) -->
      <div id="u65" class="ax_default icon">
        <img id="u65_img" class="img " src="images/广场/u65.svg"/>
        <div id="u65_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- 添加主题 (组合) -->
      <div id="u66" class="ax_default" data-label="添加主题" data-left="620" data-top="205" data-width="172" data-height="30">

        <!-- Unnamed (组合) -->
        <div id="u67" class="ax_default" data-left="620" data-top="205" data-width="172" data-height="30">

          <!-- Unnamed (矩形) -->
          <div id="u68" class="ax_default paragraph">
            <div id="u68_div" class=""></div>
            <div id="u68_text" class="text ">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u69" class="ax_default _三级标题">
            <div id="u69_div" class=""></div>
            <div id="u69_text" class="text ">
              <p><span>Create Theme</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- 排序 (矩形) -->
      <div id="u70" class="ax_default paragraph" data-label="排序">
        <div id="u70_div" class=""></div>
        <div id="u70_text" class="text ">
          <p><span @click.prevent='queryData()'></span></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
      axios.defaults.baseURL = 'http://localhost:8080/';
      axios.interceptors.response.use(function(res){
        return res.data;
      }, function(error){
        console.log(error)
      });
      Vue.filter('format', function(value, arg) {
        function dateFormat(date, format) {
          if (typeof date === "string") {
            var mts = date.match(/(\/Date\((\d+)\)\/)/);
            if (mts && mts.length >= 3) {
              date = parseInt(mts[2]);
            }
          }
          date = new Date(date);
          if (!date || date.toUTCString() == "Invalid Date") {
            return "";
          }
          var map = {
            "M": date.getMonth() + 1, //月份 
            "d": date.getDate(), //日 
            "h": date.getHours(), //小时 
            "m": date.getMinutes(), //分 
            "s": date.getSeconds(), //秒 
            "q": Math.floor((date.getMonth() + 3) / 3), //季度 
            "S": date.getMilliseconds() //毫秒 
          };
          format = format.replace(/([yMdhmsqS])+/g, function(all, t) {
            var v = map[t];
            if (v !== undefined) {
              if (all.length > 1) {
                v = '0' + v;
                v = v.substr(v.length - 2);
              }
              return v;
            } else if (t === 'y') {
              return (date.getFullYear() + '').substr(4 - all.length);
            }
            return all;
          });
          return format;
        }
        return dateFormat(value, arg);
      });
      var vm=new Vue({
        el:'#square',
        data:{
          order:'DESC',
          topicList:[],
        },
        methods:{
          orderPots:function(){
            if(this.order=='DESC'){
              this.order='ASC';
            }
            else{
              this.order='DESC';
            }
            queryData();
          }
          queryData:async function(){
            var ret = await axios.post('topic/getAllTopic',{
              order:this.order;
            });
            this.topicList=ret.topicList;
          },
        }
      })
    </script>
  </body>
</html>
