<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/登录/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/登录/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="login" class="">

      <!-- Unnamed (矩形) -->
      <div id="u0" class="ax_default _一级标题">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text ">
          <p><span>Welcome to BrainStorming</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u1" class="ax_default">
        <div id="u1_state0" class="panel_state" data-label="account" style="">
          <div id="u1_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u2" class="ax_default _三级标题">
              <div id="u2_div" class=""></div>
              <div id="u2_text" class="text ">
                <p><span>Account</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u3" class="ax_default _三级标题">
              <div id="u3_div" class=""></div>
              <div id="u3_text" class="text ">
                <p><span>Phone number</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u4" class="ax_default _三级标题">
              <div id="u4_div" class=""></div>
              <div id="u4_text" class="text ">
                <p><span>User Id</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u5" class="ax_default _三级标题">
              <div id="u5_div" class=""></div>
              <div id="u5_text" class="text ">
                <p><span>Password</span></p>
              </div>
            </div>

            <!-- userid (文本框) -->
            <div id="u6" class="ax_default text_field" data-label="userid">
              <div id="u6_div" class=""></div>
              <input id="u6_input" type="text" value="" class="u6_input" name='name' v-model='name'/>
            </div>

            <!-- password (文本框) -->
            <div id="u7" class="ax_default text_field" data-label="password" >
              <div id="u7_div" class=""></div>
              <input id="u7_input" type="text" value="" class="u7_input" name='password' v-model='password'/>
            </div>

            <!-- Unnamed (线段) -->
            <div id="u8" class="ax_default _线段">
              <img id="u8_img" class="img " src="images/登录/regen/u8.svg"/>
              <div id="u8_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u9" class="ax_default">
            </div>
          </div>
        </div>
        <div id="u1_state1" class="panel_state" data-label="phone number" style="visibility: hidden;">
          <div id="u1_state1_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u10" class="ax_default _三级标题">
              <div id="u10_div" class=""></div>
              <div id="u10_text" class="text ">
                <p><span>Account</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11" class="ax_default _三级标题">
              <div id="u11_div" class=""></div>
              <div id="u11_text" class="text ">
                <p><span>Phone Number</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12" class="ax_default _三级标题">
              <div id="u12_div" class=""></div>
              <div id="u12_text" class="text ">
                <p><span>Phone Number</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13" class="ax_default _三级标题">
              <div id="u13_div" class=""></div>
              <div id="u13_text" class="text ">
                <p><span>Password</span></p>
              </div>
            </div>

            <!-- phonenumber (文本框) -->
            <div id="u14" class="ax_default text_field" data-label="phonenumber">
              <div id="u14_div" class=""></div>
              <input id="u14_input" type="text" value="" class="u14_input" name='name' v-model='name'/>
            </div>

            <!-- password (文本框) -->
            <div id="u15" class="ax_default text_field" data-label="password">
              <div id="u15_div" class=""></div>
              <input id="u15_input" type="password" value="" class="u15_input" name='password' v-model='password'/>
            </div>

            <!-- Unnamed (线段) -->
            <div id="u16" class="ax_default _线段">
              <img id="u16_img" class="img " src="images/登录/regen/u16.svg"/>
              <div id="u16_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u17" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u18" class="ax_default primary_button">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Login</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u19" class="ax_default primary_button">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text ">
          <p><span>Sign in</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u20" class="ax_default primary_button">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text " @click.prevent="handle">
          <p><span>Register</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/axios.js"></script>
    <script type="text/javascript">
      axios.defaults.baseURL = 'http://localhost:8080/';
      axios.interceptors.response.use(function(res){
        return res.data;
      }, function(error){
        console.log(error)
      });
      var vm=new Vue({
        el:'#login',
        data:{
          name:'',
          password:'',
          token:'',
          user:[],
        },
        methods:{
          handle:function(){
            var ret = await axios.post("user/signup",{
              name:this.name;
              password:this.password;
            })
            this.user=ret.user;
            this.token=ret.token;
          }
        },
      })
    </script>
  </body>
</html>
