<html>
  <head>
    <title>BS_PutTopic</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="putTopic">
      <div id="theme">
        <img id="userimg" class="img" src="images/BS_PutTopic/u0.svg">
        <input id="inputtheme" name="theme" type="text" placeholder=" Please input your theme accurately." v-model="context" >
      </div>
      <div id="themedesc">
        <img id="filesuploadbg" class="img" src="images/BS_PutTopic/u1.svg">
        <div id="filesupload">
          <img id="filesupload1" class="" src="images/BS_PutTopic/u2.svg">
          <img id="filesupload2" class="" src="images/BS_PutTopic/u2.svg">
          <img id="filesupload3" class="" src="images/BS_PutTopic/u2.svg">
          <img id="filesupload4" class="" src="images/BS_PutTopic/u2.svg">
        </div>
        <div id="themedesctext">
          <textarea name="themedetail" placeholder=" Please describe your problem accurately. The files you upload cannot surpass 30MB." v-model="description"></textarea>
        </div>
      </div>
      <!--添加主题功能未完成-->
      <div id="addtopic">
        <img id="add" src="images/BS_PutTopic/u3.svg">
        <span id="adddesc">Add topic (Add at least 1 topic)</span>
        <span><button type="button" class="themecreatebutton" @click="postNewTopic" >Submit</button></span>
      </div>
    </div>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript">
      var vm=new Vue({
        el:"#putTopic",
        data:{
          context:"",
          description:"",
          tag:""//未绑定
        },
        methods:{
          postNewTopic:function(){
            console.log(this.context);
            console.log(this.description);
            var that = this;
            axios.post("http://localhost:8080/topic/publishtopic/context")
            .then(response => (that.context = response.data))
            axios.post("https://localhost:8080/topic/publishtopic/description") 
            .then(response => (that.description = response.data))
          }
        }
      })
    </script>  
  </body>
</html>