<html>
	<head>
		<title>BS</title>
		<meta charset="utf-8">
	</head>
	<body>
		<div id="register">
			<div>
				<h1>Rregister for BrainStorming</h1>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>User Name</span>
				<span>
					<label>
						<input name="username" type="text" placeholder="  Please input your User ID." v-model="username">
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>Age</span>
				<span>
					<label>
						<input name="age" type="text" placeholder="  Please input your age." >
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>Gender</span>
				<span>
					<label>
						<input name="gender" type="text" placeholder="  Please input your gender." >
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>User ID</span>
				<span>
					<label>
						<input name="userid" type="text" placeholder="  Please input your User ID." >
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>Password</span>
				<span>
					<label>
						<input name="password" type="password" placeholder="  Please input your password." >
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<span class="text_red">*</span> 
				<span>Repassword</span>
				<span>
					<label>
						<!--验证两次输入密码是否正确-->
						<input name="password" type="password" placeholder="  Please input your password again." v-model="password" @keyup.enter="postUserMassage">
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User ID."
						</div>
					-->
				</span>
			</div>
			<div>
				<button type="submit" @click="postUserMassage">Register</button>
			</div>
		</div>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#register",
				data:{
					username:"",
					password:""
				},
				methods:{
					postUserMassage:function(){
						console.log(this.username);
			            console.log(this.password);
						var that = this;
						axios.post("https://localhost:8080/user/register/name")
						.then(response => (that.username = response.data))
						axios.post("https://localhost:8080/user/register/password")	
						.then(response => (that.password = response.data))
					}
				}
			})
		</script>
	</body>
</html>
