<!--
修改记录：
一、语法问题：
1、函数是 add:function() 不是 add.function()
2、变量是 add:function() 不是 add.function()
3、导入文件路径是/不是\ 是inputContent:"早上起床第一句，今天还有什么事？"不是inputContent="早上起床第一句，今天还有什么事？"
4、试一下：var vm=new Vue(）绑定函数放在<body>之间最开始的位置</body>
5、v-text的简写是{{}}，记住是两层花括号
-->
<html>
	<head>
		<title>BS_SignIn</title>
		<meta charset="utf-8">
		<!--网络请求库axios导入，在页面上注册全局axios对象通过它发送请求。先导入才能使用-->
	    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
	    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="signin">
			<div>
				<h1>Welcome to BrainStorming</h1>
			</div>
			<div>
				<span>Account</span>
				<span>Phone Number</span>
			</div>
			<div>
				<span>User Name</span>
				<span>
					<label>
						<input name="username" type="text"  placeholder=" Please input your User Name." v-model="username">
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your User Name."
						</div>
					-->
				</span>
			</div>
			<div>
				<span>Password</span>
				<span>
					<label>
						<input name="password" type="password" placeholder=" Please input your password." v-model="password" @keyup.enter="postUserMassage">
					</label>
					<!--
						<div class="SignFlowInput-errorMask undefined SignFlowInput-requiredErrorMask">
							::before
							"  Please input your password."
						</div>
					-->
				</span>
			</div>
				<div>
					<button type="submit" @click="postUserMassage">Sign in</button>
					<button type="submit">Register</button>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var vm=new Vue({
				el:"#signin",
				data:{
					username:"",
					password:""
				},
				methods:{
					postUserMassage:function(){
			            console.log(this.username);
			            console.log(this.password);
						var that = this;
						axios.post("https://localhost:8080/user/signup/name")
						.then(response => (that.username = response.data))
						axios.post("https://localhost:8080/user/signup/password")	
						.then(response => (that.password = response.data))
					}
				}
			})
		</script>
	</body>
</html>
