<!DOCTYPE html>
<html>
  <head>
    <title>BS_Square</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/广场/styles.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u37" class="ax_default box_1">
        <div id="u37_div" class=""></div>
        <div id="u37_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u38" class="ax_default _二级标题">
        <div id="u38_div" class=""></div>
        <div id="u38_text" class="text ">
          <p><span>BrainStorming</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u39" class="ax_default _二级标题">
        <div id="u39_div" class=""></div>
        <div id="u39_text" class="text ">
          <p><span>Round Table Conference</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u40" class="ax_default _二级标题">
        <div id="u40_div" class=""></div>
        <div id="u40_text" class="text ">
          <p><span>&quot;Yes and&quot;</span></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u41" class="ax_default _线段">
        <img id="u41_img" class="img " src="images/广场/u41.svg"/>
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (线段) -->
      <div id="u42" class="ax_default _线段">
        <img id="u42_img" class="img " src="images/广场/u41.svg"/>
        <div id="u42_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u43" class="ax_default text_field">
        <div id="u43_div" class=""></div>
        <input id="u43_input" type="text" value="" class="u43_input"/>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u44" class="ax_default icon">
        <img id="u44_img" class="img " src="images/广场/u44.svg"/>
        <div id="u44_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u45" class="ax_default _三级标题">
        <div id="u45_div" class=""></div>
        <div id="u45_text" class="text ">
          <p><span>#Topic1</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u46" class="ax_default _三级标题">
        <div id="u46_div" class=""></div>
        <div id="u46_text" class="text ">
          <p><span>#Topic2</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u47" class="ax_default _三级标题">
        <div id="u47_div" class=""></div>
        <div id="u47_text" class="text ">
          <p><span>#Topic3</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u48" class="ax_default" data-left="135" data-top="417" data-width="657" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u49" class="ax_default" data-left="135" data-top="417" data-width="657" data-height="170">

          <!-- Unnamed (矩形) -->
          <div id="u50" class="ax_default box_1">
            <div id="u50_div" class=""></div>
            <div id="u50_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u51" class="ax_default _二级标题">
            <div id="u51_div" class=""></div>
            <div id="u51_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u52" class="ax_default _二级标题">
            <div id="u52_div" class=""></div>
            <div id="u52_text" class="text ">
              <p><span>Theme</span></p>
            </div>
          </div>

          <!-- Unnamed (图片 ) -->
          <div id="u53" class="ax_default image">
            <img id="u53_img" class="img " src="images/广场/u53.svg"/>
            <div id="u53_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u54" class="ax_default icon">
            <img id="u54_img" class="img " src="images/广场/u54.svg"/>
            <div id="u54_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u55" class="ax_default label">
            <div id="u55_div" class=""></div>
            <div id="u55_text" class="text ">
              <p><span>2,808 Reply</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u56" class="ax_default _文本段落">
            <div id="u56_div" class=""></div>
            <div id="u56_text" class="text ">
              <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u57" class="ax_default icon">
            <img id="u57_img" class="img " src="images/广场/u57.svg"/>
            <div id="u57_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u58" class="ax_default label">
            <div id="u58_div" class=""></div>
            <div id="u58_text" class="text ">
              <p><span>Name_of_Manager</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u59" class="ax_default icon">
          <img id="u59_img" class="img " src="images/广场/u59.svg"/>
          <div id="u59_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u60" class="ax_default label">
          <div id="u60_div" class=""></div>
          <div id="u60_text" class="text ">
            <p><span>2300</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u61" class="ax_default label">
          <div id="u61_div" class=""></div>
          <div id="u61_text" class="text ">
            <p><span>15:46</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u62" class="ax_default label">
          <div id="u62_div" class=""></div>
          <div id="u62_text" class="text ">
            <p><span>#Topic1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u63" class="ax_default" data-left="135" data-top="587" data-width="657" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u64" class="ax_default" data-left="135" data-top="587" data-width="657" data-height="170">

          <!-- Unnamed (矩形) -->
          <div id="u65" class="ax_default box_1">
            <div id="u65_div" class=""></div>
            <div id="u65_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u66" class="ax_default _二级标题">
            <div id="u66_div" class=""></div>
            <div id="u66_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u67" class="ax_default _二级标题">
            <div id="u67_div" class=""></div>
            <div id="u67_text" class="text ">
              <p><span>Theme</span></p>
            </div>
          </div>

          <!-- Unnamed (图片 ) -->
          <div id="u68" class="ax_default image">
            <img id="u68_img" class="img " src="images/广场/u53.svg"/>
            <div id="u68_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u69" class="ax_default icon">
            <img id="u69_img" class="img " src="images/广场/u54.svg"/>
            <div id="u69_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u70" class="ax_default label">
            <div id="u70_div" class=""></div>
            <div id="u70_text" class="text ">
              <p><span>2,808 Reply</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u71" class="ax_default _文本段落">
            <div id="u71_div" class=""></div>
            <div id="u71_text" class="text ">
              <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u72" class="ax_default icon">
            <img id="u72_img" class="img " src="images/广场/u57.svg"/>
            <div id="u72_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u73" class="ax_default label">
            <div id="u73_div" class=""></div>
            <div id="u73_text" class="text ">
              <p><span>Name_of_Manager</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u74" class="ax_default icon">
          <img id="u74_img" class="img " src="images/广场/u74.svg"/>
          <div id="u74_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u75" class="ax_default label">
          <div id="u75_div" class=""></div>
          <div id="u75_text" class="text ">
            <p><span>180</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u76" class="ax_default label">
          <div id="u76_div" class=""></div>
          <div id="u76_text" class="text ">
            <p><span>15:46</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u77" class="ax_default label">
          <div id="u77_div" class=""></div>
          <div id="u77_text" class="text ">
            <p><span>#Topic1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u78" class="ax_default" data-left="135" data-top="927" data-width="657" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u79" class="ax_default" data-left="135" data-top="927" data-width="657" data-height="170">

          <!-- Unnamed (矩形) -->
          <div id="u80" class="ax_default box_1">
            <div id="u80_div" class=""></div>
            <div id="u80_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u81" class="ax_default _二级标题">
            <div id="u81_div" class=""></div>
            <div id="u81_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u82" class="ax_default _二级标题">
            <div id="u82_div" class=""></div>
            <div id="u82_text" class="text ">
              <p><span>Theme</span></p>
            </div>
          </div>

          <!-- Unnamed (图片 ) -->
          <div id="u83" class="ax_default image">
            <img id="u83_img" class="img " src="images/广场/u53.svg"/>
            <div id="u83_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u84" class="ax_default icon">
            <img id="u84_img" class="img " src="images/广场/u54.svg"/>
            <div id="u84_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u85" class="ax_default label">
            <div id="u85_div" class=""></div>
            <div id="u85_text" class="text ">
              <p><span>2,808 Reply</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u86" class="ax_default _文本段落">
            <div id="u86_div" class=""></div>
            <div id="u86_text" class="text ">
              <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u87" class="ax_default icon">
            <img id="u87_img" class="img " src="images/广场/u57.svg"/>
            <div id="u87_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u88" class="ax_default label">
            <div id="u88_div" class=""></div>
            <div id="u88_text" class="text ">
              <p><span>Name_of_Manager</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u89" class="ax_default icon">
          <img id="u89_img" class="img " src="images/广场/u89.svg"/>
          <div id="u89_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u90" class="ax_default label">
          <div id="u90_div" class=""></div>
          <div id="u90_text" class="text ">
            <p><span>23000</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u91" class="ax_default label">
          <div id="u91_div" class=""></div>
          <div id="u91_text" class="text ">
            <p><span>15:46</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u92" class="ax_default label">
          <div id="u92_div" class=""></div>
          <div id="u92_text" class="text ">
            <p><span>#Topic1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u93" class="ax_default" data-left="135" data-top="247" data-width="657" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u94" class="ax_default" data-left="135" data-top="247" data-width="657" data-height="170">

          <!-- Unnamed (组合) -->
          <div id="u95" class="ax_default" data-left="135" data-top="247" data-width="657" data-height="170">

            <!-- Unnamed (矩形) -->
            <div id="u96" class="ax_default box_1">
              <div id="u96_div" class=""></div>
              <div id="u96_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u97" class="ax_default _二级标题">
              <div id="u97_div" class=""></div>
              <div id="u97_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u98" class="ax_default _二级标题">
              <div id="u98_div" class=""></div>
              <div id="u98_text" class="text ">
                <p><span>Theme</span></p>
              </div>
            </div>

            <!-- Unnamed (图片 ) -->
            <div id="u99" class="ax_default image">
              <img id="u99_img" class="img " src="images/广场/u53.svg"/>
              <div id="u99_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u100" class="ax_default icon">
              <img id="u100_img" class="img " src="images/广场/u54.svg"/>
              <div id="u100_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u101" class="ax_default label">
              <div id="u101_div" class=""></div>
              <div id="u101_text" class="text ">
                <p><span>2,808 Reply</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u102" class="ax_default _文本段落">
              <div id="u102_div" class=""></div>
              <div id="u102_text" class="text ">
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u103" class="ax_default" data-left="494" data-top="371" data-width="154" data-height="23">

              <!-- Unnamed (形状) -->
              <div id="u104" class="ax_default icon">
                <img id="u104_img" class="img " src="images/广场/u57.svg"/>
                <div id="u104_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u105" class="ax_default label">
                <div id="u105_div" class=""></div>
                <div id="u105_text" class="text ">
                  <p><span>Name_of_Manager</span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u106" class="ax_default icon">
            <img id="u106_img" class="img " src="images/广场/u89.svg"/>
            <div id="u106_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u107" class="ax_default label">
            <div id="u107_div" class=""></div>
            <div id="u107_text" class="text ">
              <p><span>3500</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u108" class="ax_default label">
          <div id="u108_div" class=""></div>
          <div id="u108_text" class="text ">
            <p><span>15:46</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u109" class="ax_default label">
          <div id="u109_div" class=""></div>
          <div id="u109_text" class="text ">
            <p><span>#Topic1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u110" class="ax_default" data-left="135" data-top="757" data-width="657" data-height="170">

        <!-- Unnamed (组合) -->
        <div id="u111" class="ax_default" data-left="135" data-top="757" data-width="657" data-height="170">

          <!-- Unnamed (矩形) -->
          <div id="u112" class="ax_default box_1">
            <div id="u112_div" class=""></div>
            <div id="u112_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u113" class="ax_default _二级标题">
            <div id="u113_div" class=""></div>
            <div id="u113_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u114" class="ax_default _二级标题">
            <div id="u114_div" class=""></div>
            <div id="u114_text" class="text ">
              <p><span>Theme</span></p>
            </div>
          </div>

          <!-- Unnamed (图片 ) -->
          <div id="u115" class="ax_default image">
            <img id="u115_img" class="img " src="images/广场/u53.svg"/>
            <div id="u115_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u116" class="ax_default icon">
            <img id="u116_img" class="img " src="images/广场/u54.svg"/>
            <div id="u116_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u117" class="ax_default label">
            <div id="u117_div" class=""></div>
            <div id="u117_text" class="text ">
              <p><span>2,808 Reply</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u118" class="ax_default _文本段落">
            <div id="u118_div" class=""></div>
            <div id="u118_text" class="text ">
              <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. </span></p>
            </div>
          </div>

          <!-- Unnamed (形状) -->
          <div id="u119" class="ax_default icon">
            <img id="u119_img" class="img " src="images/广场/u57.svg"/>
            <div id="u119_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u120" class="ax_default label">
            <div id="u120_div" class=""></div>
            <div id="u120_text" class="text ">
              <p><span>Name_of_Manager</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u121" class="ax_default icon">
          <img id="u121_img" class="img " src="images/广场/u121.svg"/>
          <div id="u121_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u122" class="ax_default label">
          <div id="u122_div" class=""></div>
          <div id="u122_text" class="text ">
            <p><span>New</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u123" class="ax_default label">
          <div id="u123_div" class=""></div>
          <div id="u123_text" class="text ">
            <p><span>15:46</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u124" class="ax_default label">
          <div id="u124_div" class=""></div>
          <div id="u124_text" class="text ">
            <p><span>#Topic1</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u125" class="ax_default icon">
        <img id="u125_img" class="img " src="images/广场/u125.svg"/>
        <div id="u125_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u126" class="ax_default" data-left="620" data-top="205" data-width="172" data-height="30">

        <!-- Unnamed (矩形) -->
        <div id="u127" class="ax_default paragraph">
          <div id="u127_div" class=""></div>
          <div id="u127_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u128" class="ax_default _三级标题">
          <div id="u128_div" class=""></div>
          <div id="u128_text" class="text ">
            <p><span>Create Theme</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u129" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u130" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u131" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u132" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u133" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u134" class="ax_default">
      </div>
    </div>
  </body>
</html>
