<html>
  <head>
    <title>BS_UserPage</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="js/vue.js"></script>
  </head>
  <body>
    <div id="userpagebg">
      <div id="userdesc">
        <div id="userdecsbg"></div>
        <span><img id="userimg" src=""></span>
        <span class="username">{{username}}</span>
      </div>
      <div id="userpagelist" v-for="(item,index) in userpagelist">
        <span>{{item}}</span>
      </div>
      <div id="pubthemes">
        <div id="themepot">
          <div id="themename" v-for="(item1,index) in themenamelist">
            <h2>{{item1}}</h2>
          </div>
          <div id="themedet">
            <div id="themedet1">
              <span id="themetopic" v-for="(item2,index) in themetopiclist">{{item2}}</span>
              <span id="themetime" v-for="(item3,index) in themetimelist">{{item3}}</span>
            </div>
            <div id="themedet2">
              <img id="deletetheme" src="" @click="deleteTheme(index)">
            </div>
          </div>
          <div id="themedesc">
            <div>
              <img id="themeimg" src="">
            </div>
            <div id="themecontent">
              <div id="themecont1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
              </div>
              <div id="themecont2">
                <span id="themereply">
                  <span id="themereplyimg"><img id="replyimg" src=""></span>
                  <span id="themereplytext" v-for="(item4,index) in themereplytextlist">{{item4}}</span>
                </span>
                <span id="themehost">
                  <span id="themehostimg"><img id="userimg" src=""></span>
                  <span id="themehosttext" v-for="(item5,index) in themehosttextlist">{{item5}}</span>
                </span>
              </div>
            </div>
            <div id="themehot">
              <span id="themehot1">
                <img id="themehotimg" src="">
              </span>
              <span id="themehot2"  v-for="(item6,index) in themehotnumberlist">{{item6}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var vm1=new Vue({
        el:"#userpagebg",
        data:{
          userpagelist: ["Themes I have published","Themes I have joined","Messages"],
          username:'User Name',
          themetopiclist:["#Topic1","#Topic1","#Topic1"],
          themetimelist:["15:46","15:46","15:46"],
          themereplytext:["2,808 Reply","2,808 Reply","2,808 Reply"],
          themehosttextlist:["Name_of_Manager","Name_of_Manager","Name_of_Manager"]
        },
        methods:{
          deleteTheme:function(index){
            console.log("删除");
            console.log(index);
            axios.post("https://localhost:8080/topic/deleteTopic/topicid")
            .then(response => (this.index = response.data))
          }
        }
      })
    </script>
  </body>
</html>